body {

    font-family: Arial, sans-serif;
    
    max-width: 800px;
    
    margin: 0 auto;
    
    padding: 20px;
}

h1 {
    color: #E296B2; 
    font-size: 32px; 
    margin-bottom: 20px; 
}

h2 {
    color: #E296B2; 
    font-size: 32px; 
    margin-bottom: 20px; 
}

h3 {
    color: #E296B2; 
    font-size: 28px; 
    margin-bottom: 20px; 
}

p {
    font-size: 18px; 
    line-height: 1.6; 
    margin-bottom: 20px; 
}

img {
    max-width: 100%; 
    border-radius: 10px;
}
   
a {
    color: #97181A; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

button {
    background-color: #97181A; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
}